body {
    height: 1oovh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cyan;
    
    background-image: linear-gradient(to right, cyan , rgb(81, 35, 247));

}
.toggle {
    position: relative;
}
.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle .onoff {
    color: aliceblue;
    font-size: 6em;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;

}
.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: black;
    transition: 0.4s;
    width: 200px;
    height: 120px;
}
.slider:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    transition: 0.4s;
    top: 10px;
    left: 10px;
}
input:checked + .slider {
   background-color: red; 
   box-shadow: 0 0 12pz red;
}

input:checked + .slider:before {
    transform: translateX(80px);
}


.slider.round {
    border-radius: 20px ;
}
.slider.round::before {
    border-radius: 20px ;
}